<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Цитаты великих людей</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% if quote %}
        <div class="container mt-5">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Цитаты великих людей</h1>
                    <p class="card-text">{{ quote.content }}</p>
                    <footer class="blockquote-footer">{{ quote.author }}</footer>
                    <div class="mt-4">
                        <a href="/" class="btn btn-primary">Следующая цитата</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
